

 
<mat-grid-list cols="3" rowHeight="500px">
  <mat-grid-tile *ngFor="let Employee of  HR_Employees">

    <mat-card class="card">
  <img class="img-container"  mat-card-image src="{{Employee.img}}" alt="Photos of CodeTripe Employee" style="width:100%">
  <mat-card-content>
       <h2>{{Employee.FirstName}} {{Employee.LastName}} </h2>
    <p class="title">{{Employee.Title}}</p>
    <p>
      {{Employee.Age}}
    </p>
  </mat-card-content>
<mat-grid-list cols="3" rowHeight="500px">
  <mat-grid-tile *ngFor="let Employee of  IT_Employees">

    <mat-card class="card">
  <img class="img-container"  mat-card-image src="{{Employee.img}}" alt="Photos of CodeTripe Employee" style="width:120%">
  <mat-card-content>
       <h2>{{Employee.FirstName}} {{Employee.LastName}} </h2>
    <p class="title">{{Employee.Title}}</p>
    <p>
      {{Employee.Age}}
    </p>
  </mat-card-content>

  <mat-grid-list cols="3" rowHeight="500px">
  <mat-grid-tile *ngFor="let Employee of  Marketing_Employees>

    <mat-card class="card">
  <img class="img-container"  mat-card-image src="{{Employee.img}}" alt="Photos of CodeTripe Employee" style="width:100%">
  <mat-card-content>
       <h1>{{Employee.FirstName}} {{Employee.LastName}} </h1>
    <p class="title">{{Employee.Title}}</p>
    <p>
      {{Employee.Age}}
    </p>
  </mat-card-content>



  <mat-grid-list cols="3" rowHeight="500px">
  <mat-grid-tile *ngFor="let Employee of  Accounting_Employees>

    <mat-card class="card">
  <img class="img-container"  mat-card-image src="{{Employee.img}}" alt="Photos of CodeTripe Employee" style="width:100%">
  <mat-card-content>
       <h1>{{Employee.FirstName}} {{Employee.LastName}} </h1>
    <p class="title">{{Employee.Title}}</p>
    <p>
      {{Employee.Age}}
    </p>
  </mat-card-content>